<footer  class="footer">
  <div class="footer-container">
    <!-- <div class="container"> -->
    <ul class="footer-logo">
      <li>
        <img src="../../assets/images/home/UffeCarlsson.jpg" alt="">
      </li>
    </ul>
    <ul class="footer-nav">
      <li><a href="#">Design & Utveckling</a></li>
      <li>
        <p>Kontakta mig för ett möte för att se vilka behov Ni
          har så utgår vi från det.
          Vad har ni idag o vart vill ni vara imorgon.
          Hur vill ni nå ut till Era kunder?
          Maila mig gärna så återkopplar jag så fort jag kan.
        </p>
      </li>
      <!-- <li><a href="#">Case studies</a></li> -->
      <!-- <li><a href="#">Our Work</a></li>
            <li><a href="#">Blog</a></li> -->
    </ul>
    <ul class="footer-secondary-nav">
      <li><a href="#">Kontakt</a></li>
      <li>
        <p>Ulf Carlsson</p>
      </li>
      <li>
        <p>Västerås, Sverige</p>
      </li>
      <li>
        <p>ulf@interhand.se</p>
      </li>

      <!-- <li><a href="#">Freebies</a></li>
            <li><a href="#">Fun stuff</a></li> -->
    </ul>
    <!-- <div class="contact-block">
            <h3>We're happy to hear from you!</h3>
            <a href="tel:999-999-4321"><i class="fas fa-phone"></i> 999-999-4321</a>
            <a href="mailto:info@mycompany.xyz">info@mycompany.xyz</a>
        </div> -->
    <!-- <div class="newsletter">
            <div class="newsletter-text">
                <div class="icon">
                    <i class="fas fa-paper-plane"></i>
                </div>
                <p>
                    Subscribe to our Newsletter
                </p>
            </div>
            <div class="text-input">
                <form action="post">
                    <input type="email" name="Enter Your Email Address" size="20">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div> -->
    <!-- <div class="social-networks">
            <h3>Share our content!</h3>
            <div class="facebook">
                <i class="fab fa-facebook"></i>
            </div>
            <div class="twitter">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="instagram">
                <i class="fab fa-instagram"></i>
            </div>
        </div> -->
  </div><!-- .footer-container -->
  <!-- </div> -->
</footer><!-- .footer -->
