nav {
  // padding: 0 2rem;
  // background: black;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 1em;
}

nav a {

}

nav:hover {

}
