<!-- <nav class="nav">
  <div class="nav-menu">
    <div class="nav-brand">
      <a href="#" class="text-black">Navbar Brand</a>
    </div>
  </div>
  <div>
    <ul class="nav-items">
      <li class="nav-link">
        <a href="#" class="text-black">Om mig</a>
      </li>
      <li class="nav-link">
        <a href="#" class="text-black">Teknik</a>
      </li>
      <li class="nav-link">
        <a href="#" class="text-black">Projekt</a>
      </li>
      <li class="nav-link">
        <a href="#" class="text-black">Kunder</a>
      </li>
      <li class="nav-link">
        <a href="#" class="text-black">Kontakt</a>
      </li>
    </ul>
  </div>
</nav> -->

<nav>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About me</a></li>
    <li><a href="#">Posts</a></li>
  </ul>
</nav>
