<!-- <nav class="nav">
  <div class="nav-menu">
    <div class="nav-brand">
      <a href="#" class="text-black">Navbar Brand</a>
    </div>
  </div>
  <div>
    <ul class="nav-items">
      <li class="nav-link">
        <a href="#" class="text-black">Om mig</a>
      </li>
      <li class="nav-link">
        <a href="#" class="text-black">Teknik</a>
      </li>
      <li class="nav-link">
        <a href="#" class="text-black">Projekt</a>
      </li>
      <li class="nav-link">
        <a href="#" class="text-black">Kunder</a>
      </li>
      <li class="nav-link">
        <a href="#" class="text-black">Kontakt</a>
      </li>
    </ul>
  </div>
</nav> -->

<header>
  <div class="container">
      <!-- <i class="icon ion-md-heart"></i>
      <i class="icon icon-md-menu"></i> -->
    <nav>
      <div class="menu-icons">
        <i class="icon ion-md-menu" (click)="openMenu($event)"></i>
        <i class="icon ion-md-close" (click)="openMenu($event)"></i>
      </div>
      <a href="#" class="logo">
        <i class="icon ion-md-restaurant"></i>
      </a>
      <ul class="nav-list">
        <li><a href="#">Home</a></li>
        <li><a href="#">Menu
            <i class="icon ion-md-arrow-dropdown"></i>
        </a>
          <ul class="sub-menu">
            <li>
                <a href="#">More About me</a>
            </li>
            <li>
                <a href="#">More About me
                    <i class="icon ion-md-arrow-dropdown"></i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="#">More About me</a>
                    </li>
                    <li>
                        <a href="#">More About me</a>
                    </li>
                    <li>
                        <a href="#">More About me
                            <i class="icon ion-md-arrow-dropdown"></i>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="#">More Food</a>
                            </li>
                            <li>
                                <a href="#">More Lunch</a>
                            </li>
                            <li>
                                <a href="#">More Dinner</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
          </ul>
        </li>
        <li><a routerLink="/shopping">Shopping</a></li>
        <li><a href="#">About me</a></li>
        <li><a routerLink="/shopping">Shopping</a></li>
        <li><a href="#">About me</a></li>
        <li class="move-right btn"><a>Book a table</a></li>
      </ul>
    </nav>
  </div>
</header>

