<header>
  <div class="logo-container">
   <h4 class="logo">Three Dots</h4>
  </div>
  <nav>
    <ul class="nav-links">
      <li><a class="nav-link" href="#">Specs</a></li>
      <li><a class="nav-link" href="#">Products</a></li>
      <li><a class="nav-link" href="#">Contact</a></li>
    </ul>
  </nav>
  <div class="cart">
    <img src="../../../assets/images/cart.svg" alt="">
  </div>
</header>

<main>
<section class="presentation">
  <div class="introduction">
    <div class="intro-text">
      <h1>Huawei Laptop for the future</h1>
      <p>The new 14 inch bezeless laptop offering a 4k
          display with touch screen.</p>
    </div>
    <div class="cta">
      <button class="cta-select">14 Inch</button>
      <button class="cta-add">Add to cart</button>
    </div>
  </div>
  <div class="cover1">
    <img src="../../../assets/images/matebook.png" alt="laptop">
  </div>
  <div class="cover2">
    <img src="../../../assets/images/matebook.png" alt="laptop">
  </div>
</section>

<img  class="big-circle"  src="../../../assets/images/big-eclipse.svg" alt="">
<img  class="medium-circle"  src="../../../assets/images/mid-eclipse.svg" alt="">
<img  class="small-circle"  src="../../../assets/images/small-eclipse.svg" alt="">

<div class="laptop-select">
  <img src="../../../assets/images/arrow-left.svg" alt="">
  <img src="../../../assets/images/dot.svg" alt="">
  <img src="../../../assets/images/dot-full.svg" alt="">
  <img src="../../../assets/images/dot-full.svg" alt="">
  <img src="../../../assets/images/arrow-right.svg" alt="">
</div>

</main>
