<div class="section">
  <ul class="grid">
    <li>
      <div class="box img-1">
        <a >
            <div class="info">
          <h3>Angular 8</h3>
          <p>Denna hemsida är helt gjort i Angular 8 och typescript. Det gillar vi som fan.
              Denna hemsida är helt gjort i Angular 8 och typescript. Det gillar vi som fan
          </p>
        </div> </a>
        <a href="" class="button">Gå till sida</a>
      </div>
    </li>
    <li>
      <div class="box img-2">
        <a >
            <div class="info">
          <h3>React</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, totam.</p>
         </div> </a>
         <a href="http://reactwebstore.ucarlsson.net" target="blank" class="button">Gå till sida</a>
      </div>
    </li>
    <li>
      <div class="box img-3">
        <a >
            <div class="info">
          <h3>VSMB - Västerås</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, totam.</p>
          </div> </a>
          <a href="http://www.vsmb.se" target="blank" class="button">Gå till sida</a>
      </div>
    </li>
    <li>
      <div class="box img-4">
        <a >
          <div class="info">
          <h3>Native scripts</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, totam.</p>
          </div> </a>
          <a href="" class="button">Gå till sida</a>
      </div>
    </li>
    <li>
        <div class="box img-5">
          <a >
            <div class="info">
            <h3>Aros Trafikskola</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, totam.</p>
             </div> </a>
             <a href="" class="button">Gå till sida</a>
        </div>
      </li>
    <li>
        <div class="box img-6">
          <a >
            <div class="info">
            <h3>Reff UF Webshop React Redux/Store</h3>
            <p></p>
             </div> </a>
             <a href="" class="button">Gå till sida</a>
        </div>
      </li>
  </ul>
</div>
