<div id="main">
  <header class="item">
    <div class="container">
      <h1 class="title">LANDING PAGE DESIGN</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Facere eveniet neque quos, mollitia dolor dignissimos
        repudiandae quisquam hic culpa magni sapiente.
        Incidunt dolorum veritatis natus dicta placeat est
        numquam culpa.
      </p>
    </div>
    <a href="#one" class="next">Start</a>
  </header>

 <section class="item" id="one">
   <div class="container">
     <h2 class="title">HOME SECTION</h2>
     <p>
       Lorem ipsum dolor sit amet consectetur,
       adipisicing elit. Consectetur voluptate
       quo est tenetur in suscipit quis tempora
       perferendis similique ullam, adipisci
       sunt minima, omnis itaque dignissimos
       laudantium necessitatibus vero velit!
     </p>
   </div>
 </section>















</div>
