<div class="container" [@listAnimation]="article">
  <div class="item">
      <img class="image_child" src="{{article.image}}">
      <button class="add-to-child_cart" type="button" (click)="addToChart(item.id)">Lägg till</button>
  </div>

  <div class="text_child">
      <h2>Why Do Cats Like Boxes?</h2>
      <p>"Cats like boxes because they are cryptic animals; they like to hide," Stephen Zawistowski, science adviser for the American Society for the Prevention of Cruelty to Animals, told Business Insider. "And a box gives them a place of safety and security."</p>
      <p>While inside a box, cats feel that they cannot be snuck up on from behind or the side — anything that wants to approach them must come directly into their field of vision. In effect, such hiding spaces allow them to watch the world around them without being seen.</p>
  </div>
</div>
