/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
$ionicons-font-path: "~ionicons/dist/fonts";
@import "~ionicons/dist/scss/ionicons.scss";
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: calc(1vw + 0.6em);
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
  // background: url('./assets/images/skrivbord.jpg')no-repeat center center;
  // background-size: cover;
  // height: 100vh;
}
