<!-- <header>
  <div class="site-title">
    <h1>Living the social life</h1>
    <p class="sub-title">A blog exploring minimilism in life</p>
  </div>

  <app-navbar></app-navbar>


</header> -->
<!-- <div class="container"> -->

  <header>
      <app-navbar></app-navbar>
  </header>


<section id="hero" class="hero">

  <div class="text">
    <!-- <h2>Proudly serving</h2> -->
    <h1>Front End Developer</h1>
    <p>Utvecklare som går över gränserna</p>
    <!-- <a href="#" class="btn">Läs mer</a> -->
    <img src="../../assets/images/home/scroll.svg" alt="scroll down" class="scroll hide-mobile show-desktop">
    <!-- <app-card></app-card> -->
    <a href="#" class="btn">Läs mer</a>
  </div>
</section>
<!-- </div> -->



<section>
  <div class="blue-container">
    <div class="container">
      <ul>
        <li>
          <!-- <img src="../../assets/images/home/icon-1.svg" alt="Calendar icon"> -->
          <h5><i class="fab fa-angular fa-4x"></i></h5>
          <p><strong>Angular</strong> är en plattform och ramverk för att bygga klientapplikationer i HTML och
            TypeScript.</p>
        </li>
        <li>
          <h5><i class="fab fa-react fa-4x"></i></h5>
          <p> <strong>React</strong> är ett JavaScript-bibliotek skapat av Facebook. <strong>React</strong> är ett
            verktyg för att bygga User-interface-komponenter.</p>
        </li>
        <li>
          <h5><i class="fab fa-node fa-4x"></i></h5>
          <p><strong>Node</strong> är en JavaScript runtime-miljö och körs på olika plattformar (Windows, Mac OS, etc.)
            <strong>Node</strong> använder JavaScript på servern.</p>
        </li>
        <li>
          <h5><i class="fab fa-html5 fa-4x"></i></h5>
          <p><strong>HTML5</strong> är den senaste versionen av Hypertext Markup Language, koden som beskriver
            webbsidor.</p>
        </li>
        <li>
          <h5><i class="fab fa-css3 fa-4x"></i></h5>
          <p><strong>CSS3</strong> är utformad för att möjliggöra separering av presentation och innehåll, inklusive
            layout, färger och teckensnitt.</p>
        </li>
        <li>
          <h5><i class="fab fa-sass fa-4x"></i></h5>
          <p><strong>SASS</strong> är ett skriptspråk som tolkas eller kompileras till Cascading Style Sheets (CSS).</p>
        </li>
        <li>
          <h5><i class="fab fa-gripfire fa-4x"></i></h5>
          <p><strong>Firebase / Firestore</strong> är Googles mobilplattform som hjälper till att snabbt utveckla
            högkvalitativa appar och webbsidor.</p>
        </li>
        <li>
          <h5><i class="fab fa-wordpress fa-4x"></i></h5>
          <p><strong>WordPress</strong> är ett online-verktyg för att skapa webbsidor med öppen källkod skrivet i PHP.
          </p>
        </li>
        <li>
          <h5><i class="fab fa-android fa-4x"></i></h5>
          <p>Apputvecklingen går framåt, och nu kan man programmera i <strong>ett</strong> språk för både
            <strong>iOS</strong> och <strong>Android</strong> telefoner.</p>
        </li>
        <li>
          <h5><i class="fas fa-mobile-alt fa-4x"></i></h5>
          <p>Jag utgår från principen <strong>Mobile first</strong>, som innebär att man först designar för mobil innan
            man designar för webb mm.</p>
        </li>
        <li>
          <h5><i class="fab fa-js-square fa-4x"></i></h5>
          <p><strong>JavaScript</strong> är programmeringsspråk för webben. JavaScript kan uppdatera och ändra både HTML
            och CSS.</p>
        </li>
        <li>
          <h5><i class="fab fa-js fa-4x"></i></h5>
          <p><strong>TypeScript</strong> är ett öppet programmeringsspråk. Den förenklar JavaScript-koden, vilket gör
            det lättare att läsa, felsöka och testa</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="grey-container">
    <div class="container">
      <ul>
        <li>
          <figure>
            <img src="../../assets/images/home/contact_mia.jpg" alt="User testimonial picture">
            <figcaption>Mia Fredberg</figcaption>
            <p><strong> Administratör/ekonomi</strong></p>
            <p>Västerås Svets & Maskinbearbetning </p>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <blockquote><q>Otroligt bra service och lyhörd till våra behov.
                Ger snabb återkoppling. Han är intresserad, ödmjuk och väldigt professionell.
                Han sätter sig in och är nyfiken på verksamheten och jobbet blir väldigt bra.
                Vi är så nöjda.</q>
            </blockquote>
          </figure>
        </li>
        <li>
          <figure>
            <img src="../../assets/images/home/contact_marko.jpg" alt="User testimonial picture">
            <figcaption>Marko Tuunanen</figcaption>
            <p><strong> VD</strong></p>
            <p>Västerås Svets & Maskinbearbetning </p>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <blockquote><q>Vi på Vsm är jätte nöjda med hemsidan Ulf har gjort.
                Under hela uppbyggnaden av vår hemsida har vi haft nära samarbete med Ulf ,
                så att hemsidan har blivit utformad på ett sätt som vi är nöjda med.
                Så vill ni ha en pålitlig och duktig samarbetspartner välj Ulf.</q>
            </blockquote>
          </figure>
        </li>
        <li>
          <figure>
            <img src="../../assets/images/home/Mats_Clavell.jpg" alt="User testimonial picture">
            <figcaption>Mats Clavell</figcaption>
            <p><strong>Legitimerad Kiropraktor</strong></p>
            <p>Mats Clavell Kiropraktorklinik</p>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <span class="fa fa-star" aria-hidden="true"></span>
            <blockquote><q>Ulf har utvecklat ett flertal applikationer till oss.
                Faktureringsprogram och senast nu webbokning på nätet där jag kunde
                logga in och administrera tider och kunder och vi är otroligt nöjda.</q>
            </blockquote>
          </figure>
        </li>
      </ul>
    </div>
  </div>

  <app-my-work id="myWork"></app-my-work>
  <!-- <app-work-slider id="myWork"></app-work-slider> -->

  <div class="container contact">
    <!-- <h2>Ta gärna kontakt med mig!</h2> -->
    <a pageScroll href="#hero" class="cta">Kontakta mig</a>
  </div>


  <div class="container">
    <!-- <h5>Du hittar mig på följande nätverk</h5> -->
    <div class="container-social">
      <a href="#" class="social">
        <h5><i class="fab fa-facebook fa-2x"></i></h5>
      </a>
      <a href="#" class="social">
        <h5><i class="fab fa-linkedin fa-2x"></i></h5>
      </a>
      <a href="#" class="social">
        <h5><i class="fab fa-instagram fa-2x"></i></h5>
      </a>
      <a href="#" class="social">
        <h5><i class="fab fa-github fa-2x"></i></h5>
      </a>
    </div>

  </div>

  <!-- <footer>
    <div class="footer-container">
      <div class="container">
        <ul>
          <li>
              <h5>Design & Utveckling</h5>
              <p class="text">Kontakta mig gärna så tar vi ett
                  </p>
          </li>
          <li>
              <h5>Design & Utveckling</h5>
              <p class="text">Kontakta mig gärna så tar vi ett
                 </p>
          </li>
          <li>
              <h5>Design & Utveckling</h5>
              <p class="text">Kontakta mig gärna så tar vi ett
                  .</p>
          </li>
          <li>
              <h5>Design & Utveckling</h5>
              <p class="text">Kontakta mig gärna så tar vi ett
                  .</p>
          </li>
        </ul>
      </div>
    </div>
  </footer> -->
<!-- <div id="footer"></div> -->
  <app-home-footer id="footer"></app-home-footer>

  <div class="container-svart">
    <div class="container">
      <h3>2019 @ Copyright Ulf Carlsson Interhand</h3>
    </div>
  </div>
</section>
